* {
    box-sizing: border-box;
    font-family: 'Inknut Antiqua', serif;
font-family: 'Quicksand', sans-serif;

  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  p{
    
  }
  
  .nav {
    height: 100px;
    width: 100%;
    position: relative;
    
    
  }

  

  body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../image/istockphoto-1132149387-170667a.webp);
    background-attachment: fixed;  
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat; 
   ;
  }

  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > .ki {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    position: relative;
  }


  .nav > .nav-links > .ki:after{
    content: '';
    height: 2px;
     /* background-color: red;  */
     border-bottom: 2px solid red; 
    width: 0;
    position: absolute;
    bottom: -5px;
    right: 0;
    transition: 0.2s all ease-in-out;
}

.nav > .nav-links > .ki:hover:after{
    width: 100%;
    left: 0;
}
  
  
  
  .nav > #nav-check {
    display: none;
  }


  .bouton-navbar1{
    width: 160px;
    height: 40px;
    background-color: #111827;
    border: none;
    border-radius: 50px;
    color: white;
    animation: ba 2s 0s ease-in-out infinite;
  }
  @keyframes ba {
			
		0% {
			border: 2px solid white;
		}
		100% {
			border: 2px solid red;
		}
	}
  
  .bouton-navbar2{
    width: 160px;
    height: 40px;
    background-color: #E40613;
    border: none;
    border-radius: 50px;
    color: white;
    transition: 1s 0s ease-in-out;
    animation: bo 2s 0s ease-in-out infinite;
  } 
  @keyframes bo {
			
		0% {
			border: 2px solid white;
		}
		100% {
			border: 2px solid red;
		}
	}
  

  .bouton-navbar1:hover{
    background-color: #E40613;
    border: 1px solid white;
  }
 
  .bouton-navbar2:hover{
    background-color: #fff;
    color: #E40613;
    border: 1px solid #E40613 ;
  }
  body{
    /* background-color: #111827; */
  }

  .content{
    width: 100%;
    height: 50px;
   display: flex;
   justify-content: center;
    /* background-color: #E40613; */
  }
  span{
    text-align: center;
    color: white;
  }
  .txt2{
    color: red;
  }
  
  
  .txt{
    white-space: nowrap;
    font-size: 32px;
    animation: scroll 7s linear infinite;
  }
  @keyframes scroll {
			
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(0%);
		}
	}
  .texte h1{
    font-weight: bold;
    font-size: 2.5vw;
    animation: focus-in-contract 1s linear 0s 1 normal none;
  }

  @keyframes focus-in-contract {
			
		0% {
			letter-spacing:1em;
			filter:blur(12px);
			opacity:0;
		}
		100% {
			filter:blur(0);
			opacity:1;
		}
	}
  .texte p{
    font-size: 0.8vw;
    color: white;
  }
  .texte{
    margin: 0 auto;
   
    color: white;
    
    width: 45%;
  }
  .texte input{
    width: 100%;
    height: 50px;
    border: none;
     border-radius: 40px;
  }
  .texte ::placeholder{
    text-align: center;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      text-align: center;
    }
    .bouton-navbar2{
        margin-top: 15px;
    }
    .texte h1{
        font-weight: bold;
        font-size: 4vw;
      }
      .texte p{
        font-size: 2.5vw;
        color: white;
      }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgb(81, 78, 78);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  @media (min-width:601px) and (max-width:927px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      text-align: center;
    }
    .bouton-navbar2{
        margin-top: 15px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #E40613;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

 .contenair{
    width: 100%;
    height: auto;
    margin-top: 50px;
    /* border: 2px solid red; */
    /* margin-top: 150px; */
     /* display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;  */
 }
 .fhum{
    width: 80%;
    height: auto;
    /* background-color: #111827; */
    margin: 0 auto;
     display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap; 
 }
 .box{
    width: 16%;
    height: 100%;
    /* background-color: aqua; */
    animation: jolie 1s linear 0s 1 normal none;
    transition: 1s;
 }
 .box:hover{
  transform: scale(1.1);
 }
 .bax:hover{
  transform: scale(1.1);
 }
 @keyframes jolie {
			
  0% {
    transform:scale(0);
    transform-origin:0% 100%;
    opacity:1;
  }
  100% {
    transform:scale(1);
    transform-origin:0% 100%;
    opacity:1;
  }
}
 p{
  color: white;
 }
 .box video{
   width: 100%;
   height: 100%;
   /* background-color: rebeccapurple; */
 }




 /* .conteneur1{
  width: 100%;
  height: auto;
  background-color: #111827;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

} */
.conteneur{
  width: 100%;
  height: auto;
  /* background-color: blueviolet; */
}

.fo{
  width: 80%;
  height: auto;
  /* background-color: red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.fo{
  margin-top: 2rem;
}
audio{
  width: 100%;
}

.bax{
  width: 15%;
  height: 100%;
  /* background-color: lawngreen; */
  animation: jolie 1s linear 0s 1 normal none;
  transition: 1s;
}
.txte{
  text-align: center;
  font-size: 35px;
}
.contient{
 
  animation: blur-out-expand 1s linear 0s 1 normal none;
}
@keyframes blur-out-expand {
			
  0% {
    filter:blur(0);
  }
  100% {
    letter-spacing:1em;
    filter:blur(12px) opacity(0%);
  }
}
h2{
  width: 50%;
  height: 50px;
 
  border-bottom: 2px solid  red
}
.la{
  width: 100%;
 
  /* background-color: yellow; */
}
p .kaikai {
  font-size: 33px;
  color: white;
}
.bax video{
 width: 100%;
 height: 100%;
 /* background-color: rebeccapurple; */
}

 @media screen and (max-width:1200px){
  .box{
    width: 40%;
  }
}
@media screen and (max-width:600px){
  .box{
    width: 90%;
  }
}

@media screen and (max-width:1200px){
  .bax{
    width: 40%;
  }
}
@media screen and (max-width:600px){
  .bax{
    width: 90%;
  }
}


.footer{
  width: 100%;
  height: auto;
  background-color: #111827;
  display: flex;
  flex-direction: row;
   justify-content: center; 
   flex-flow: wrap;
    margin-top: 60px;
}
.cons{
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50px;
 
}
.cons1{
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50px;
  margin-left: 15px;
  margin-top: 7px;
}
.cons2{
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50px;
  margin-left: 15px;
  margin-top: 7px;
}
.cons3{
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50px;
  margin-left: 15px;
  margin-top: 7px;
}
.cons3 img{
  margin-left: 5px;
  margin-top: 4px;
}
.cons4{
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50px;
  margin-left: 15px;
  margin-top: 7px;
}
.cons4 img{
  margin-left: 5px;
  margin-top: 4px;
}
.cons1 img{
  margin-left: -10px;
  margin-top: -11px;
}
.cons2 img{
  margin-left: 5px;
  margin-top: 4px;
}
.cons img{
 
}

.la{
  width: 100%;
  height: auto;
  border-top: 2px solid gray;
  width: 100%;
  height: 100px;
}
.lo{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.footer-box{
  width: 20%;
  height: 200px;
  /* background-color: aquamarine; */
  margin: 20px;
  box-sizing: border-box;
}
@media screen and (max-width:1200px){
  .footer-box{
    width: 40%;
  }
}
@media screen and (max-width:600px){
  .footer-box{
    width: 90%;
  }
}
small{
  color: white;
  opacity: 3;
}
.footer-box h2{
  color: white;
}
