*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../image/istockphoto-1132149387-170667a.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
/* 

body{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../image/istockphoto-1132149387-170667a.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    transition: 5s;

        animation-name: annimate;
        animation-direction: alternate-reverse;
        animation-duration: 30s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-timing-function: ease-in-out;
}
    	@keyframes annimate{
            0%{
                background-image: url(../image/istockphoto-1486802665-612x612.webp);
            }
            20%{
                background-image: url(../image/cheers-204742_640.webp);
            }
            40%{
                background-image: url(../image/girl-1990347_640.jpg);
            }
            60%{
                background-image: url(../image/guitar-756326_640.jpg);
            }
            80%{
                background-image: url(../image/lolo.webp);
            }
            100%{
                background-image: url(../image/istockphoto-1499736452-612x612.webp);
            }
        } */

.fhum{
    width: 100px;
    height: 100px;
    background-color: #111827;
    border-radius: 50px;
    margin: 0 auto;
    
    
}
.lo{
    width: 80%;
    margin: 0 auto;
    height: 440px;
    
    margin-top: 200px;
}

.conteneur{
    width: 300px;
    height: 420px;
    background-color: white;
    border-radius: 30px;
    margin: 0 auto;
   
    
}
.logos img{
    
    width: 100%;
    margin-top: -6px;
}

.care{
    margin: 0 auto;
    width: 86%;
    height: auto;
    background-color: #111827;
    margin-top: 60px;
  
}
.care p{
   
    
   
}
p{
    color: white;
    
    margin-left: 20px;
    /* background-color: aquamarine; */
}

.rond2{
    display: flex;
    
}
.rond{
    display: flex;
    
}
.rond3{
    display: flex;
   
}
.icon{
    width: 28px;
    height: 28px;
    border-radius: 50px;
    background-color: white;
   margin-left: 10px;
}
.rond{
    width: 100%;
    height: 50px;
    
    margin-top: 5px;
}
.rond2{
    width: 100%;
    height: 50px;
    /* background-color: green; */
    margin-top: 5px;
}
.rond3{
    width: 100%;
    height: 50px;
    /* background-color: green; */
    margin-top: 5px;
}
.icon1{
    width: 28px;
    height: 28px;
    background-color: orange;
    border-radius: 50px;
}
.rond img{
    width: 23px;
    height: 23px;
    margin-left: 2px;
}
/* .icon{
    width: 28px;
    height: 28px;
    border-radius: 50px;
    background-color: blue;
    
} */
.rond2 img{
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-top: 4px;
}
/* .icon{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: blue;
   
} */
.rond3 img{
    width: 32px;
    height: 32px;
    
    
}
/* @media screen and (max-width : 600px){
    .fhum{
        width: 45px;
        height: 45px;
    }
 } */
 @media screen and (max-width : 800px){
    .fhum{
        width: 40px;
        height: 40px;
    }
    .rond2{
        display: block;
    }

    .rond{
        display: block;
    }
    .rond3{
        display: block;
    }
 }

 @media screen and (max-width : 800px){
    .formulaire{
        width: 200px;
        height: 300px;
    }
 }
    
   
 
 
 /* @media screen and (min-width : 800px){
    .fhum{
        width: 110px;
        height: 100px;
    }
 } */
