
  
   
  
 input{
    width: 17%;
    height: 33px;
    border: none;
    border-radius: 1px;
  } 
  ::placeholder{
    text-align: center;
  }
  /* img.icon-search{
    background-color: red;
    position: absolute;
    top: 6px;
  } */
  /* .jojo{
   
    margin-top: -2.5rem; 
  }
  .les-listes a{
   
    display: flex;
    justify-content: flex-end;
  } */
  
  
 .bouton-navbar1{
    width: 180px;
    height: 40px;
    background-color: #111827;
    border: none;
    border-radius: 50px;
    color: white;
    
  }
  .bouton-navbar2{
    width: 180px;
    height: 40px;
    background-color: #E40613;
    border: none;
    border-radius: 50px;
    color: white;
  } 

  .bouton-navbar1:hover{
    background-color: #E40613;
    border: 1px solid white;
  }
 
  .bouton-navbar2:hover{
    background-color: #fff;
    color: #E40613;
    border: 1px solid #E40613 ;
  }
  




  /* .tout{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../image/istockphoto-1132149387-170667a.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    transition: 5s;

        animation-name: annimate;
        animation-direction: alternate-reverse;
        animation-duration: 30s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-timing-function: ease-in-out;
}
    	@keyframes annimate{
            0%{
                background-image: url(../image/istockphoto-1486802665-612x612.webp);
            }
            20%{
                background-image: url(../image/cheers-204742_640.webp);
            }
            40%{
                background-image: url(../image/girl-1990347_640.jpg);
            }
            60%{
                background-image: url(../image/guitar-756326_640.jpg);
            }
            80%{
                background-image: url(../image/lolo.webp);
            }
            100%{
                background-image: url(../image/istockphoto-1499736452-612x612.webp);
            }
        }
 */



  
  
 body {
    margin: 0px;
    font-family: 'segoe ui';
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../image/istockphoto-1132149387-170667a.webp);
     background-attachment: fixed;  
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    transition: 5s;
    
    animation-name: annimate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
  } 
  


  @keyframes annimate{
    0%{
        background-image: url(../image/film-1668918_640.webp);
    }
    20%{
        background-image: url(../image/cheers-204742_640.webp);
    }
    40%{
        background-image: url(../image/fantasy-4032943_1280.jpg);
    }
    60%{
        background-image: url(../image/guitar-756326_640.jpg);
    }
    80%{
        background-image: url(../image/agfa-682920_640.jpg);
    }
    100%{
        background-image: url(../image/istockphoto-1499736452-612x612.webp);
    }
}




  .nav > .nav-links > a{
    color: white;
    font-family: arial;
    text-decoration: none;
    font-weight: 600;
    
    position: relative;
 }
 .nav > .nav-links > a:after{
     content: '';
     height: 2px;
      background-color: red; 
     /* border-bottom: 2px solid red; */
     width: 0;
     position: absolute;
     bottom: -5px;
     right: 0;
     transition: 0.2s all ease-in-out;
 }
 .nav-links{
/* display: flex;
    float: right;  */
 }
 .nav > .nav-links > a:hover:after{
     width: 100%;
     left: 0;
 }

 @media (max-width:1000px){
  .nav > .nav-links > a:hover:after{
    width: 100%;
    left: 0;
    transition: none;
    
  }
 }

   @media (max-width:1200px){
    .bouton-navbar2{
        display: block;
        margin-left: 150px;
        /* margin-top: 10px; */
    }
    
    .bouton-navbar1{
     
       margin-top: 10px; 
  }
  } 

  * {
    box-sizing: border-box;
  }
  
 
  
  .nav {
    height: 60px;
    /* position: fixed;*/
     z-index: 1;
    width: 100%;
    background-color: blue;
    position: relative;
    /* box-shadow: 5px 5px 5px 5px #111827; */
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: center !important;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  /* .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  } */
  
  .nav > #nav-check {
    display: none;
  }
  li{
    list-style-type: none;
  }
  li img{
    background-color: white;
    width: 40px;
    margin-bottom: -15.5px;
  }
  @media (max-width:1200px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }


    /* @media (max-width:1200px) {
      .nav {
       background-color: blue;
      } */


    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: transparent;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0;
      background-color: #455d91;
      text-align: center;
      
    }
    
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    /* .etoile{
      margin-top: 57px;
    } */
  }

/* .etoile p:after:hover{
  content: 'k njoklmù:vb';
  color: red;
} */


/* 

  @media screen and (max-width:1200px){
    .card-acceuil{
      
      width: 60%;
      height: 800px;
      background-color: orange;
      margin: 0 auto;
    }
    .card-acceuil h1{
      text-align: center;
    }
    .les-deux{
      display: flex;
      justify-content: space-around;
      
    }
    .vo{
      margin-left: 15px;
    }
    .card-video{
     
       
       width: 40%;
       height: 160px; 
   
      background-color: #111827;
     
    } 
    .les-trois{
      display: none;
    }
    video{
       height:"160px"; 
      
      width: 100%;
    }
   .etoile{
    display: flex;
    
   }
   
   .etoile p{
    margin-top: -1px;
    color: white;
   }
    
  }
  



  
  @media screen and (min-width:1200px){
    .card-acceuil{
      
      width: 70%;
      height: 800px;
      background-color: orange;
      margin: 0 auto;
    }
    .card-acceuil h1{
      text-align: center;
    }
    .les-deux{
      display: flex;
     
      
    }
    .les-trois{
      display: flex;
    } 
    .vo{
      margin-left: 15px;
    }
    .card-video{
      
       
       width: 25%;
       height: 200px; 
      
      background-color: #111827;
     
    } 
    video{
       height:"160px"; 
      
      width: 100%;
    }
   .etoile{
    display: flex;
    
   }
   
   .etoile p{
    margin-top: -1px;
    color: white; 
   }
    
  }*/


  .card-acceuil{
    width: 90%;
    height: auto;
    /* background-color: orange; */
    margin: 0 auto;
  }
  .card-acceuil h1{
    text-align: center;
  }
  .conteneur{
     /* width: 100%; 
   
    height: auto;
    margin: 10px auto 0;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap; */
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px auto 0;
    max-width: 1200px;
  }
  .card-acceuil h1{
    text-align: center;
  }
  video{
    width: 100%;
    height: 150px;
  }
  .etoile{
    width: 100%;
    height: 40px;
    background-color: #111827;
    margin-top: -7px;
  }

  span{
    color: white
  }
  
  .box{
     /* width: 20%; 
    
    height: 180px;
    background-color: rebeccapurple;
    margin: 5px;
    box-sizing: border-box; */
    /* width: 220px; */
    width: 18%;
    height: auto;
    margin: 10px;
    overflow: hidden;
    flex-shrink: 0;
    /* transition: all 5s ease-in-out; */
    animation: scale-up-center 1s linear 0s 1 normal none;
	}
	@keyframes scale-up-center {
			
		0% {
			transform:scale(.2);
		}
		100% {
			transform:scale(1);
		}
	
    
  }
  

  h1{
    color: white;
  }


  .etoile{
     display: flex;
    justify-content: space-between; 
  }
  .etoile img{
     width: 20%; 
  }
  @media screen and (max-width:1200px){
    .box{
      width: 20%;
    }
  }
  @media screen and (max-width:600px){
    .box{
      width: 40%;
    }
  }
  @media screen and (max-width:1200px){
    .etoile img{
      width: 30%;
     
    }
  }
  @media screen and (max-width:600px){
    .etoile img{
       width: 78%; 
       display: block;
    }
  }
  @media screen and (max-width:600px){
    h1{
       font-size: 20px;
    }
  }
  .footer{
    width: 100%;
    height: auto;
    background-color: #111827;
    display: flex;
    flex-direction: row;
     justify-content: center; 
     flex-flow: wrap;
  }
  .footer-box{
    width: 20%;
    height: 200px;
    /* background-color: aquamarine; */
    margin: 20px;
    box-sizing: border-box;
  }
  @media screen and (max-width:1200px){
    .footer-box{
      width: 40%;
    }
  }
  @media screen and (max-width:600px){
    .footer-box{
      width: 90%;
    }
  }
  small{
    color: white;
    opacity: 3;
  }
  .footer-box h2{
    color: white;
  }
